.heading {
  line-height: var(--line-height-normal);
}
.color-primary {
  color: var(--colors-primary);
}
.color-default {
  color: var(--colors-font-base);
}
.size-md {
  font-size: var(--font-size-md);
}
.size-sm {
  font-size: var(--font-size-sm);
}
.size-xs {
  font-size: var(--font-size-xs);
}
