.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-base-transparent);
  padding: 10px 20px;
  border-radius: var(--border-radius-lg);
  box-shadow: 0px 4px 5px var(--color-brand-white-lilac);
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: var(--font-size-md);
  max-width: 300px;
  min-width: max-content;
	font-family: var(--font-family-sans-0), var(--font-family-sans-1), var(--font-family-sans-2);
	font-weight: var(--font-weight-bold);
	height: 45px;
}
.is-block {
  width: 100%;
}
.type-primary {
  background: var(--color-primary);
  color: var(--color-brand-white);
}
.type-secondary {
  background: var(--color-base-transparent);
  color: var(--color-primary);
  border: 1px solid var(--color-brand-medium-purple);
}
.type-tertiary {
  background: var(--color-base-transparent);
  box-shadow: var(--box-shadow-none);
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-brand-medium-purple);
  padding: var(--spacing-none);
  border-radius: var(--border-radius-none);
	height: auto;
}
.button:hover {
  filter: brightness(1.1);
}
.button:active {
  filter: brightness(0.9);
}
